.background {
    /* background-image: url(windows95.jpg);*/
    background-position: center;
    background-size: cover;
    background-color: #008080;
    position: relative;
    margin: 0;
    height: 100vh;
    z-index: -1;
}

.start-button {
    display: block;
    padding: 3px 5px 3px 33px;
    border-color: #808080;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 0 0 0.4vh;
    box-shadow: 2px 2px 2px black, inset 2px 2px 3px white;
    cursor: pointer;
}

.win-icon {
    background: url(win95icon.png) no-repeat;
    position: absolute;
    background-size: 24px;
    background-position: 5px center;
}

.taskbar {
    background-color: #c0c0c0;
    display: flex;
    width: 100vw;
    height: 1.7rem;
    position: absolute;
    bottom: 0;
    z-index: -1;
    padding: 3px 0px;
    box-shadow: 0px -3px 2px white;
}

.bin-icon {
    background: url(recycle-bin.png) no-repeat;
    position: absolute;
    display: block;
    bottom: 5.5%;
    right: 2%;
    background-position: top center;
    background-size: 25px;
    padding-top: 30px;
    cursor: pointer;
}

.icon-text {
    font-family: sans-serif;
    font-size: 1.5vh;
    text-align: center;
}

.all-icons {
    padding: 10px;
    padding-top: 30px;
    position: absolute;
    display: block;
}

.folder-icon {
    background: url(folderIcon.png) no-repeat;
    background-position: top center;
    top: 3%;
    left: 1%;
    background-size: 30px;
    cursor: pointer;
}

.the-internet-icon {
    background: url(the-internet1.png) no-repeat;
    top: 4%;
    left: 20%;
    background-position: top center;
    background-size: 30px;
    padding-top: 26px;
    cursor: pointer;
}

.my-computer-icon {
    background: url(my-computer.png) no-repeat;
    top: 14%;
    left: 42%;
    background-position: top center;
    background-size: 30px;
    padding-top: 33px;
    cursor: pointer;
}

.cd-image {
    background: url(cd-image.png) no-repeat;
    top: 6%;
    right: 15%;
    background-position: top center;
    background-size: 30px;
    padding-top: 32px;
    cursor: pointer;
}

.link-details {
    text-decoration: none;
    color:black;
}

.start-menu {
    background-color: #c0c0c0;
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    height: 35vh;
    width: 35vw;
    bottom: calc(1.7rem + 3px + 1px);
    box-shadow: 2px 2px 4px 0px black;
    padding: 5px 0px 0px 5px;
    box-shadow: inset 3px 3px 2px white, 3px 3px 2px black;
    margin-left: 0.6vh;
    /* bottom: calc (height of taskbar + padding + box shadow*/
}

.clicked-start-button {
    display: block;
    padding: 4px 8px 4px 33px;
    border-color: #808080;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 0 0 0.4vh;
    box-shadow: inset -2px -2px 2px white, inset 2px 2px 3px black;
    outline: 1px dotted black;
    outline-offset: -4px;
}

.hidden {
    display: none;
}

.side-bar { 
    background-color: #909090;
    height: 99%;
    width: 20%;
    position: relative;
    display: block;
}

.side-bar-text {
    font-family: sans-serif;
    font-weight: bold;
    color: #D3D3D3;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 5%;
    width: -webkit-fill-available;
    font-size: x-large;
}

.nr95 {
    font-family: sans-serif;
    color: white;
    font-weight: lighter;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 60%;
    width: -webkit-fill-available;
    font-size: x-large;
}

.clippy {
        background: url("clippy-headscratch.gif") no-repeat;
        background-position: top center;
        background-size: 90px;
        padding-top: 33px;
        cursor: pointer;
        top: 40%;
        left: 60%;
        position: relative;
        display: block;
        height: 3.2rem;
        width: 5.8rem;
}

.opened-folder {
    background-color: white;
    width: 70%;
    height: 30%;
    left: 10%;
    top: 20%;
    position: relative;
}